<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card-group mb-4">
          <div class="card p-4">
            <div class="card-body">
              <h1>Login</h1>
              <div class="alert alert-danger" role="alert" *ngIf = "message">
                  {{ message }}
              </div>

              <p> Send random password to your email</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Email or customer id" [(ngModel)]="emailOrCustomerID">
              </div>
              <div class="row">
                <div class="col-6">
                  <button type="button" class="btn btn-primary px-4" (click) = "sendPassword()">Send password</button>
                  <button type="button" class="btn btn-primary px-4" [routerLink]="['/auth/login']">Back</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
