<div class="animated fadeIn admin_account_component">
  <div class="col-md-8">
    <div class="card card-accent-primary">
      <div class="card-header" (click)="companyCollapsed = !companyCollapsed">
        Company Profile
        <div class="card-actions">
          <a class="btn-setting"><i class="icon-arrow-down" *ngIf="companyCollapsed"></i><i class="icon-arrow-up" *ngIf="!companyCollapsed"></i></a>
        </div>
      </div>

      <div class="card-body" 
      (collapsed)="collapsed($event)"
      (expanded)="expanded($event)"
      [collapse]="companyCollapsed" *ngIf = "company_data">
        <div class="alert alert-danger" role="alert" *ngIf = "message">
            {{ message }}
        </div>
        <div class="row">
          <div class="form-group col-sm-4">
            <input type="text" class="form-control" id="company_name" [(ngModel)] = 'company_data.company_profile.name' placeholder="Company name">
          </div>
          <div class="form-group col-sm-4">
              <select class="custom-select form-control" [(ngModel)] = 'company_data.company_profile.dining_style' (ngModelChange)="onDiningStyleChange($event)">
                <option *ngFor="let style of dining_style" [value]="style">{{ style }}</option>
              </select>
          </div>
          <div class="form-group col-sm-4">
            <input type="text" class="form-control" id="cuisines" [(ngModel)] = 'company_data.company_profile.cuisines' placeholder="Cuisines">
          </div>
        </div><!--/.row-->
        <strong>Contact Person</strong>
        <div class="row">
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" id="full_name" [(ngModel)] = 'company_data.company_profile.contact_person.fullname' placeholder="Full Name">
          </div>
          <div class="form-group col-sm-6">
            <input type="text" class="form-control" id="title" [(ngModel)] = 'company_data.company_profile.contact_person.title' placeholder="Title">
          </div>
        </div><!--/.row-->
        <strong>Contact Information</strong>
        <div class="row">
          <div class="form-group col-sm-4">
              <ng-select
              class="bootstrap"
              placeholder="Country"
              [options]="countries"
              [allowClear]="true"
              [(ngModel)] = 'company_data.company_profile.contact_information.country'
              ></ng-select>
          </div>
          <div class="form-group col-sm-4">
            <input type="text" class="form-control" id="city" [(ngModel)] = 'company_data.company_profile.contact_information.city' placeholder="City">
          </div>
          <div class="form-group col-sm-4">
            <input type="text" class="form-control" id="state_province_region" [(ngModel)] = 'company_data.company_profile.contact_information.state_province_region' placeholder="State / Province / Region">
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="form-group col-sm-8">
            <input type="text" class="form-control" id="street_address" [(ngModel)] = 'company_data.company_profile.contact_information.street_address' placeholder="Street Address">
          </div>
          <div class="form-group col-sm-4">
            <input type="text" class="form-control" id="zip_code" [(ngModel)] = 'company_data.company_profile.contact_information.zip_code' placeholder="ZIP Code">
          </div>
        </div><!--/.row-->
        <div class="row">
          <div class="form-group col-sm-2" *ngIf="false">
            <input type="text" class="form-control" id="country_code" [(ngModel)] = 'company_data.company_profile.contact_information.country_code' placeholder="Country Code">
          </div>
          <div class="form-group col-sm-4" *ngIf="false">
            <input type="text" class="form-control" id="phone_number" [(ngModel)] = 'company_data.company_profile.contact_information.phone_number' placeholder="Phone Number">
          </div>
          <div class="form-group col-sm-12">
            <input type="text" class="form-control" id="website_address" [(ngModel)] = 'company_data.company_profile.contact_information.website_address' placeholder="Website address">
          </div>
        </div><!--/.row-->

        <div class="">
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="inline-checkbox1" [(ngModel)]="company_data.company_profile.options.digital_menu">
            <label class="form-check-label" for="inline-checkbox1">Digital Menu</label>
          </div>
          <br>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="inline-checkbox2" [(ngModel)]="company_data.company_profile.options.graphic_design">
            <label class="form-check-label" for="inline-checkbox2">Graphic Design</label>
          </div>
          <br>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="inline-checkbox3" [(ngModel)]="company_data.company_profile.options.branding">
            <label class="form-check-label" for="inline-checkbox3">Branding</label>
          </div>
          <br>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="inline-checkbox4" [(ngModel)]="company_data.company_profile.options.marketing">
            <label class="form-check-label" for="inline-checkbox4">Marketing</label>
          </div>
          <br>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="inline-checkbox5" [(ngModel)]="company_data.company_profile.options.photo_video">
            <label class="form-check-label" for="inline-checkbox5">Photo / Video</label>
          </div>
          <br>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="checkbox" id="inline-checkbox6" [(ngModel)]="company_data.company_profile.options.web">
            <label class="form-check-label" for="inline-checkbox6">Web</label>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-block" (click) = "onSaveCompanyProfileInfo()">Save Changes
        </button>
      </div>
    </div>
    <div class="card card-accent-primary">
      <div class="card-header" (click)="passwordCollapsed = !passwordCollapsed">
        Change Password
        <div class="card-actions">
          <a class="btn-setting"><i class="icon-arrow-down" *ngIf="passwordCollapsed"></i><i class="icon-arrow-up" *ngIf="!passwordCollapsed"></i></a>
        </div>
      </div>
      <div class="card-body"
            (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="passwordCollapsed">
        
        <div class="row">
          <div class="form-group col-sm-4">
            <input type="text" class="form-control" id="old_password" placeholder="Old Password">
          </div>
          <div class="form-group col-sm-4">
            <input type="text" class="form-control" id="new_password" placeholder="New Password">
          </div>
          <div class="form-group col-sm-4">
            <input type="text" class="form-control" id="new_password_confirm" placeholder="New Password Conf">
          </div>
        </div><!--/.row-->
        <button type="button" class="btn btn-primary btn-block">Save Changes
        </button>
      </div>
    </div>
    <div class="card card-accent-primary">
      <div class="card-header" (click)="employeeCollapsed = !employeeCollapsed">
        Employees
        <div class="card-actions">
          <a class="btn-setting"><i class="icon-arrow-down" *ngIf="employeeCollapsed"></i><i class="icon-arrow-up" *ngIf="!employeeCollapsed"></i></a>
        </div>
      </div>
      <div class="card-body"
            (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="employeeCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat.
        </p>
        <button type="button" class="btn btn-primary btn-block">Save Changes
        </button>
      </div>
      
    </div>
    <div class="card card-accent-primary">
      <div class="card-header" (click)="seatingCollapsed = !seatingCollapsed">
        Seating
        <div class="card-actions">
          <a class="btn-setting"><i class="icon-arrow-down" *ngIf="seatingCollapsed"></i><i class="icon-arrow-up" *ngIf="!seatingCollapsed"></i></a>
        </div>
      </div>
      <div class="card-body"
            (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="seatingCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat.
        </p>
        <button type="button" class="btn btn-primary btn-block">Save Changes
        </button>
      </div>
    </div>
    <div class="card card-accent-primary">
      <div class="card-header" (click)="stripeCollapsed = !stripeCollapsed">
        Stripe Account
        <div class="card-actions">
          <a class="btn-setting"><i class="icon-arrow-down" *ngIf="stripeCollapsed"></i><i class="icon-arrow-up" *ngIf="!stripeCollapsed"></i></a>
        </div>
      </div>
      <div class="card-body"
            (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="stripeCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat.
        </p>
        <button type="button" class="btn btn-primary btn-block">Save Changes
        </button>
      </div>
    </div>
    <div class="card card-accent-primary">
      <div class="card-header" (click)="opentableCollapsed = !opentableCollapsed">
        OpenTable Account
        <div class="card-actions">
          <a class="btn-setting"><i class="icon-arrow-down" *ngIf="opentableCollapsed"></i><i class="icon-arrow-up" *ngIf="!opentableCollapsed"></i></a>
        </div>
      </div>
      <div class="card-body"
            (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="opentableCollapsed">
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
          consequat.
        </p>
        <button type="button" class="btn btn-primary btn-block">Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
