<div class="animated fadeIn">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <i class="icon-user"></i> Pending Users
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Email</th>
              <th>Role</th>
              <th>Approve/Reject</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-user [ngForOf]="userdata">
              <tr *ngIf = "user.status==='pending'" >
              <td>{{ user.email }}</td>
              <td>{{ roleTitle(user.role) }}</td>
              <td>
                <button class="btn btn-sm btn-primary" (click)="onChangeStatus('approved', user._id)" type="button"><span>Approve</span></button>
                <button class="btn btn-sm btn-danger" (click)="onChangeStatus('rejected', user._id)" type="button"><span>Reject</span></button>
              </td>
            </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
